.defining {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "SUITE-Regular";
}
.defining-bg {
  width: 100vw;
  height: 100vh;
}
.defining-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.defining::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.defining-contents {
  position: absolute;
  top: 40%;
  z-index: 2;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
}
.defining-title {
  font-size: 50px;
  font-family: "ChosunSm";
}
.defining-since {
  font-size: 25px;
  font-family: "ChosunSm";
}
.defining-contents > .moreView-button {
  border: 2px solid white;
  font-size: 22px;
}
.defining-contents > .moreView-button:hover {
  background-color: white;
  color: black;
}
